<html>
<head>
<title>Django Store</title>
</head>
<body>
<h1>Welcome to Django Store</h1>
{% if user.username %}
<p>Welcome {{ user.username }}!
Here you can show your content!</p><br/>
<a href="{% url 'logout' %}">logout<a>
{% else %}
<p>Welcome anonymous user!
You need to <a href="{% url 'login' %}">login</a></p>
{% endif %}
</body>
</html>