<html>
	<head>
		<title>Django Store - User Login</title>
	</head>
	<body>
		<h1>User Login</h1>
		{% if form.has_errors %}
		<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		<form method="post" action=".">
			{% csrf_token %}
			<p><label for="id_username">Username:</label>
			{{ form.username }}</p>
			<p><label for="id_password">Password:</label>
			{{ form.password }}</p>
			<input type="hidden" name="next" value="/" />
			<input type="submit" value="login" />
		</form>
	</body>
</html>